.form {
  margin-bottom: 5rem;
  &__group {
    display: flex;
    justify-content: space-around;
    height: 6rem;
    margin: 2rem;
    &-comment {
      display: flex;
      flex-direction: column;
      margin: 2rem 6rem 2rem 6rem;
    }
  }
  &__label {
    width: 25rem;
  }
  &__control {
    width: 11rem;
    &-inititave {
      display: flex;
      justify-content: space-around;
      height: 1.5rem;
    }
  }
  &__btn {
    margin-left: 6rem;
    position: relative;
    overflow: hidden;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 28px;
    background-color: rgb(225, 37, 27);
    color: rgb(255, 255, 255);
    font-weight: 600;
    line-height: 1.25rem;
    font-size: 1rem;
    padding: 0px 1.25rem;
    text-align: center;
    white-space: nowrap;
    min-height: 48px;
    min-width: 160px;
    max-width: 280px;
    z-index: 0;
  }
}
