.header {
  display: flex;
  padding: 1rem 1rem 1rem 1rem;
  justify-content: space-between;
  margin: 1rem 2rem;

  &__section {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
  &__glass {
    display: none;
  }
  &__menu {
    display: none;
  }
  &__apply {
    display: none;
  }
  &__sign {
    min-height: 36px;
    min-width: 140px;
    max-width: 280px;
    z-index: 0;
    color: rgb(225, 37, 27);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(225, 37, 27);
    padding: 0px 1.25rem;
    text-align: center;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 28px;
    font-weight: 400;
    line-height: 1.25rem;
    margin-right: 0.5rem;
  }
  &__manager {
    text-decoration: none;
    color: red;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    &__apply {
      min-height: 36px;
      min-width: 140px;
      position: relative;
      overflow: hidden;
      display: inline-flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      border-radius: 28px;
      background-color: rgb(225, 37, 27);
      color: rgb(255, 255, 255);
      font-weight: 400;
      line-height: 1.25rem;
      font-size: 1rem;
      padding: 0px 1.25rem;
      text-align: center;
      white-space: nowrap;
      z-index: 0;
      margin-right: 0.5rem;
    }
    &__glass {
      width: 1.5rem;
      margin-right: 0.5rem;
    }
  }
}
