.header {
  display: flex;
  padding: 1rem 1rem 1rem 1rem;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;

  &__manager {
    text-decoration: none;
    color: red;
  }
  &__logo {
    width: 15rem;
  }
}
